<%- include('../partials/teacher-sidenav'); -%>


<div class="main-content" id="panel">
    <div class="container-fluid py-3 bg-primary top-padding" style="border-bottom:0.0625rem solid #e9ecef33 !important;" >
        <div class="row align-items-center">
            <div class="col col-lg-auto text-center text-sm-left">
                <h5 style="font-family: 'LakeShore', sans-serif" class="h2 text-white d-inline-block mb-0 custom-heading">Exam center</h5>
            </div>
           
        </div>
    </div>
    <div>             
                    
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Question</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            
                            </div>
                            <div class="w-100 row" style="padding-left: 15px;">
                            <div class="col-md-8 ">
                                <input type="text" placeholder="Enter your question" class="form-control mb-3" v-model.trim="newQuestion.questionText">
                                <div v-if="newQuestion.qType === 'single'">
                                    
                                    <div class="form-row">
                                        <input type="text" class="form-control col-md-8 mr-1" name="" id="" placeholder="Enter new option" v-model.trim="newOption">
                                        <button class="col-md-3 btn btn-secondary" @click="addNewOption">Add Option</button>
                                    </div>
                                    
                                </div>
                               
                                
                            </div>
                            <div class="col-md-4">
                                <select class="custom-select" v-model="newQuestion.qType">
                                    <option value="single" selected>Single Correct</option>
                                    <option value="multiple">Multiple Correct</option>
                                    <option value="text">Text Area</option>
                                </select>
                                <div class="mt-2">
                                    <input type="text" class="form-control" placeholder="Enter score" v-model.number="newQuestion.score">
                                </div>
                            </div>
                          <!--   <div class="modal-body">
                              <p>This is a large modal.</p>
                            </div>
                            -->
                        </div>
                            <div class="modal-footer">
                                <div class="w-100 d-flex justify-content-center">
                                    <button class="btn btn-success mb-3" @click="addNewQuestion">Add</button>
                                </div>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          
                        </div>
                      </div>

                    
                </div>
            
         
                
         
        <div class="container w-75 mx-auto border p-0">
            <div class="w-100 d-flex border-bottom">
                <div class="w-50 border-right text-center" @click="selectTab(1)">
                    Test Settings
                </div>
                <div class="w-50 text-center" @click="selectTab(2)">
                    Questions
                </div>
            </div>
            <div class="w-100 p-5">
                <div class="w-100" v-if="isFirstTabSelected">
                    <div style="display:flex;">
                        <label style="margin:10px;" for="inputEmail3">Test Duration</label>
                        <input style="margin:10px;width:100px" type="text" class="form-control" id="inputEmail3" v-model="test.settings.testDuration">
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" v-model="test.settings.disableTabChange">
                            <label class="form-check-label" for="defaultCheck1">
                                Disable Tab change
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="file" accept=".csv" ref="file" @change="uploadFile"/>
                    </div>
                    <br>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Neck Movement
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Mobile detection
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Multiple person detection
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select style="width:200px" class="custom-select" v-model="test.settings.severity">
                            <option value="strict" selected>Strict</option>
                            <option value="moderate">Moderate</option>
                        </select>
                    </div>
                    <div style="display:flex;">
                        <label style="margin:10px;" for="inputEmail3">Total Score</label>
                        <input style="margin:10px;width:100px" type="text" class="form-control" id="inputEmail3" v-model.number="test.settings.totalScore">
                    </div>
                    <br>
                    <div class="col-md-4">
                        <button @click="saveSettings" class="btn btn-info">Save</button>
                    </div>
                </div>
                <div class="w-100" v-else>
                    <div class="w-100 d-flex justify-content-end mb-2">
                        <input type="text" placeholder="Enter Test Name" class="form-control mb" v-model.trim="test.testName">

                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Add Question</button>
                       
                    </div>
                    <div class="mx-5 my-3" v-for="(question,i) in test.questions" :key="i">
                        <base-card class="p-3">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>Q.{{ i+1 }} {{ question.questionText }}</h4>
                                    <div v-if="question.qType === 'single'">
                                        <div v-for="(option,i) in question.options" :key="i">
                                            <input type="radio" name="" id=""> {{ option }}
                                        </div>
                                    </div>
                                    <div v-else-if="question.qType === 'multiple'">
                                        <div v-for="(option,i) in question.options" :key="i">
                                            <input type="checkbox" name="" id=""> {{ option }}
                                        </div>
                                    </div>
                                    <div v-else>
                                        <textarea name="" id="" cols="80" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <p>Points - {{ question.score }}</p>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-primary">
                                        Edit
                                    </button>
                                </div>
                            </div>
                        </base-card>
                    </div>
                    <div class="mt-3 w-100 d-flex justify-content-center">
                        <button class="btn btn-primary" @click="createTest">Add Test</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
